{
    email you@buildlayer.cloud
    on_demand_tls {
        ask http://email_marketing_backend:8000/internal/tls-allow
    }
}


news.buildlayer.cloud {
    reverse_proxy news-scraper:3000
}

radius.buildlayer.cloud {
    reverse_proxy 76.13.177.128:8002
}

trending.buildlayer.cloud { 
    reverse_proxy trending-automation-scraper:3000
}

inngest.buildlayer.cloud {
    reverse_proxy global_inngest:8288
}

blaster.buildlayer.cloud {
    reverse_proxy email_marketing_backend:8000
}


# Catch-all for customer tracking CNAMEs
:443 {
    tls {
        on_demand
    }
    reverse_proxy email_marketing_backend:8000
}